:root {
    --main-back-color: #FFFFFF;
    --main-text-color: #757575;
    --title-text-color: #212121;
    --button-text-color: #212121;
    --button-hover-color: #2196F3;
    --top-logo-color-left: #2196F3;
    --top-logo-color-right: #000000;
    --bottomlogo-color-left: #2196F3;
    --bottomlogo-color-right:#FFFFFF;
    --footer-address-color: #FFFFFF;
    --address-data-color: rgba(255, 255, 255, 0.6);
    --block-one-bkc: #2F303A;
    --button-hover-background: #188CE8;
    --duration: cubic-bezier(0.4, 0, 0.2, 1);
    --speed: 250ms;
}

h1,
h2,
h3,
h4,
a,
ul,
p,
li {
    margin: 0%;
}
ul {
    padding-left: 0;
}
img {
    display: block;
    max-width: 100%;
}
nav {
    padding: 0%;
}
.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

.body {
    font-family: 'Roboto', sans-serif; 
    font-size: 16px;
    letter-spacing: 0.03em;
    background-color: var(--main-back-color);
    color: var(--main-text-color);
}
/* ВЕРХНЯЯ ЛИНИЯУ*/

.header {
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--title-text-color);
border-bottom: 1px solid #ECECEC;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.link {
    text-decoration: none;
}
.list {
    list-style: none;
}
.logo {
    display: flex;
    margin-right: 96px;
}

.logo-top-left, .logo-top-right {
    display: inline-block;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}
.logo-top-left {
    color: var(--top-logo-color-left);
}
.logo-top-right {
    color: var(--top-logo-color-right);
}

.list-navi .contacts-data {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    text-decoration: none;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color var(--speed) var(--duration);
}
.navlist {
    display: flex;
    align-items: center;
}
.navi-item {
    justify-content: center;
    display: flex;
}
.navi-item:not(:last-child){
    position: relative;
    margin-right: 50px;
}
.list-navi {
    display: flex;
    align-items: center;
}
.contactslist {
    display: flex;
    align-items:center;
}
.contacts-item:not(:last-child) {
    margin-right: 50px;
}
.contacts {
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    text-decoration: none;
    transition: color var(--speed) var(--duration);
}
.contacts-data.current {
    color: var(--button-hover-color);
}
.contacts-data.current::after {
content: '';
position: absolute;
left: 0;
bottom: -1px;
width: 100%;
border-radius: 2px;
height: 4px;
background: var(--top-logo-color-left);
}
.contacts-data:focus,
.contacts-data:hover {
    color: var(--button-hover-color);
}

.contacts:focus,
.contacts:hover {
    color: var(--button-hover-color);
}

.contacts:active {
    color: var(--button-hover-color);
}
.contacts-item {
    display: inline-flex;
    padding: 0;
    align-items: center;
    border: none;
    padding: 0%;
    color: var(--main-text-color);
}
.icon-envelope {
    border: 0;
    margin-right: 10px;
    margin-left: 0;
    fill: currentColor;
    border: none;
    cursor: pointer;
}

.icon-smartphone {
    border: 0;
    margin-right: 10px;
    margin-left: 0;
    fill: currentColor;
    border: none;
    cursor: pointer;
}

/*БЛОК-ГЕРОЙ*/

.block-one {
    display: flex;
    background-color: var(--block-one-bkc);
    justify-content: center;
    align-items: center;
    padding-bottom: 200px;
    padding-top: 200px;
}
.back-image {
    max-width: 1600px;
    background-position: center;
    margin: 0 auto;
    background-size: cover;
    background-image: linear-gradient(to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)), url(../image/hero-bckgr-compressed.jpeg);

}
.container .hero {
    display: inline-block;
    box-sizing:border-box;
    margin: 0;
    box-sizing: border-box;
}

.title-one {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--main-back-color);
    margin-bottom: 30px;
    
}
.buttonlogo {
    font-family: 'Roboto';
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    color: var(--bottomlogo-color-right);
    background: var(--bottomlogo-color-left);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    margin: 0% auto;
    display: block;
    border-radius: 4px;
    padding: 10px 32px;
    border: 0;
    transition: background-color var(--speed) var(--duration),
    box-shadow var(--speed) var(--duration);
}
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 528px;
    min-height: 581px;
    background-color: var(--main-back-color);
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%),
    0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
    border-radius: 4px;
    transform: translate(-50%, -50%) scale(1);
    transition: transform var(--speed) var(--duration);
    padding: 40px;
}
.modal-close-button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    fill: #000000;
    background-color: var(--main-back-color);
    cursor: pointer;
    
}
.modal-close-button:hover,
.modal-close-button:focus {
    box-shadow: 0px 2px 2px rgb(0 0 0 / 15%);
    fill: var(--button-hover-background);
}
.modal-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.label-field {
    display: flex;
    flex-direction: column;
    padding: 0;
    position: relative;
}
.label-field:not(:last-child) {
    margin-bottom: 28px;
}

.modal-slogan {
    display: block;
    padding: 0;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    color: var(--button-text-color);
    margin-bottom: 30px;
    text-align: center;
}


.input {
    height: 40px;
    width: 100%;
    font-family: Roboto, sans-serif;
    font-style: normal;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;

}
.label-field:focus-within > .modal-icon {
    border: 1px solid #2a2a2a;
    fill: #2196F3;
    
}
.input:focus,
.textarea:focus {
    border: 1px solid var(--button-hover-color);
    outline: none;
}
.modal-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
}
.modal-label {
    position: absolute;
    top: -20px;
    left: 0;
    font-size: 12px;
    line-height: 14px;
    line-height: 100%;
    letter-spacing: 1%;
    color: rgba(117, 117, 117, 1);
}


.textarea {
    width: 100%;
    resize: none;
    padding: 16px 12px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}
.reg textarea::placeholder {
    color: rgba(117, 117, 117, 0.5);
}

.policy-link {
    color: var(--button-hover-color);
}
.policy-label {
    text-align: uppercase;
    font-family: roboto, sans-serif;
    font-style: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}
.checkbox-form {
    margin-bottom: 30px;
}

.checkbox-label {
    display: flex;
    align-items: center;
}
.checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.checkbox-icon {
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 2px solid #2a2a2a;
    border-radius: 4px;
    margin-right: 7px;
}
.checkbox:checked + .checkbox-icon {
    border-color: #2196F3;
    background-color: #2196F3;
    background-image: url(../image/check.svg);
    background-size: contain;
    background-origin: border-box;
}

.modal-btn {
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0% auto;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    background-color: var(--button-hover-color);
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
}
.modal-btn:focus,
.modal-btn:hover {
    box-shadow: 4px 0 4px rgba(0, 0, 0, 0.15);
}


.buttonlogo:hover,
.buttonlogo:focus {
    background-color: var(--button-hover-background);
    box-shadow: 4px 4px 0px 4px rgba(0, 0, 0, 0.15);
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* -- БЛОК С ТЕКСТОМ --*/
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.block-two {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}
.block-two-item {
    flex-basis: calc((100% - 90px)/4);
}
.icon {
    flex-basis: calc((100% - 90px)/4);
    display: block;
    justify-self: center;
    align-items: center;
    padding: 25px 100px;
    background-color: #F5F4FA;
    margin: 0 auto;
    border: 0;
    margin-bottom: 30px;
    border-radius: 4px;
}
.satellite {
    border: none;
    fill: #212121;
    
}

.title-two {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--title-text-color);
    margin: 0 auto;
    display: block;
    margin-bottom: 50px;
}
.subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--title-text-color);
    margin-bottom: 10px;
}
.text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--main-text-color);
    margin: 0;
}
/* Блок Чем мы занимаемся+Картинки-  */

.section-we-do.section {
    padding-top: 0;
}
    
}
.pictures {
    margin: 0 auto;
}
.pictures-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.boxes {
    display: flex;
    flex-basis: calc((100% - 60px)/3);
    position: relative;
}
.boxes-names {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    padding-top: 27px;
    padding-bottom: 27px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;  
    letter-spacing: 0,03em;
    text-transform: uppercase;
    background-color: rgba(47, 48, 58, 0.8);
    color: #FFFFFF;
}

.image {
    box-sizing: auto;
}

/* Наша команда  */
.our-team {
    background: #F5F4FA;
}

.team-block {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
}
.employers {
    flex-basis: calc((100% - 90px)/4);
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.teammember-info {
    padding-top: 30px;
    padding-bottom: 30px;
}
.team-member {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--title-text-color);
    margin-bottom: 10px;
}
.proffesion {
    line-height: 1.19;
    text-align: center;
    color: var(--main-text-color);
    margin-bottom: 16px;
}
.social-logos {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0 auto;
}
.team-logos:not(:last-child) {
    margin-right: 10px;
}
.sociallink {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    border: none;
    color: #AFB1B8;
    transition: background-color var(--speed) var(--duration),
    color var(--speed) var(--duration);
}
.sociallink:hover,
.sociallink:focus {
    background-color: #188CE8;
    color: #FFFFFF;
}
.icon-team {
    fill: currentColor;
    transition: fill var(--speed) var(--duration);
}
.icon-team:hover, {
    fill: #FFFFFF;
}

/* ЛОГО-НАШИ КЛИЕНТЫ*/
.container > .our-clients {
    display: block;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.client-logos {
    display: flex;
    list-style: none;
    padding: 0;
    flex-wrap: wrap;
    gap: 30px;
   
}
.content-logo {
    display: block;
    flex-basis: calc((100% - 150px)/6);
    border: none;
    
}

.logo-link-client {
    display: block;
    box-sizing: border-box;
    padding: 15px 31px;
    color: #AFB1B8;
    cursor: pointer;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition: color var(--speed) var(--duration),
    fill var(--speed) var(--duration),
    border var(--speed) var(--duration);
}
.item-client-logo {
    fill: currentColor;
    border: none;
    padding: 0;
    margin: 0;
}
.logo-link-client:hover,
.logo-link-client:focus {
    color: #2196F3;
    fill:#2196F3;
    border: 1px solid #2196F3;
    
}
.item-client-logo:hover,
.item-client-logo:focus {
    fill: #2196F3;
}

/* ПОДВАЛ  */
.footer {
    background-color: #2F303A;
}
.footer-container {
    display: flex;
}

.footer-logo {
    margin-right: 70px;
    padding: 0;
}

.footerlogo {
    display: inline-block;
    margin-bottom: 20px;
}
.logo-down-left, .logo-down-right {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}
.logo-down-left {
    color: var(--bottomlogo-color-left);
}
.logo-down-right {
    color: var(--bottomlogo-color-right);
}
.address {
    display: block;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    color: var(--footer-address-color);
    margin-right: 0;
    padding-right: 0;
}
.address .link {
    margin-bottom: 20px;

}
.address-data {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    color: var(--address-data-color);
    text-decoration: none;
    transition: color var(--speed) var(--duration);
}
.address-data:hover,
.address-data:focus {
    color: var(--top-logo-color-left)
}
.list .address-bottom:not(:last-child) {
    margin-bottom: 9px;
}
.address-footer {
    margin: 0;
    margin-bottom: 9px;

}
.footer-container {
    padding-top: 60px;
    padding-bottom: 60px;
    align-items: baseline;
    position: relative;
}

.footer-phrase {
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.footer-icon {
    display: flex;

}
.footer-icon-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: fill var(--speed) var(--duration);
}
.social-link-icon:hover,
.social-link-icon:focus {
    fill: #2196F3;

}
.footer-icon-logo:not(:last-child) {
    margin-right: 10px;
    padding: 0;
    border: none;
}
.social-link-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: none;
    padding: 0;
    margin: 0;
    color: #FFFFFF;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color var(--speed) var(--duration);
   
}
.social-link-icon:hover,
.social-link-icon:focus {
    background-color: #2196F3;
}
.link-logo-footer {
    fill: currentColor;
}
.subscribe {
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 72px;
}
.subsribe-slogan {
    font-family: Roboto,sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 20px;
    
}
.subscibe-form-footer {
    display: block;
    
}
.footer-email-subscribe {
    display: inline-block;
    height: 50px;
    width: 358px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: #2F303A;
    color: rgba(255, 255, 255, 0.6);
    padding: 16px 15px;
    margin-right: 12px;
}

.sbmt-button {
    display: inline-block;
    position: relative;
    justify-content: center;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.03em;
    line-height: 1.87;
    cursor: pointer;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    background-color: #2F303A;
    color: var(--footer-address-color);
    border: none;
    background-color: var(--bottomlogo-color-left);
    padding-right: 29px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 28px;

}
.subscire-logo {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(-50%, -50%);
    fill: var(--footer-address-color);
}



/*  ПОРТФОЛИО  */
.buttonslist {
    justify-content: center;
    margin-bottom: 50px;
}
.buttonslist {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;}

.button {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    cursor: pointer;
    text-align: center;
    color: var(--button-text-color);
    background: var(--bottomlogo-color-right);
    background: #F5F4FA;
    border-radius: 4px;
    padding: 6px 22px;
    border: transparent;
    transition: color var(--speed) var(--duration),
    background-color var(--speed) var(--duration),
    box-shadow var(--speed) var(--duration);
}
.button:hover,
.button:focus {
    color: var(--bottomlogo-color-right);
    background-color: var(--top-logo-color-left);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.project-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
    padding: 0%;
    margin-bottom: 4px;
    display: block;
}
.project-data {
    padding: 20px 24px;
    border-bottom: 1px Solid #EEEEEE;
    border-left: 1px Solid #EEEEEE;
    border-right: 1px Solid #EEEEEE;
}
}
.project-data > .project-type {
    color: var(--main-text-color);
}
.project-type {
    display: inline-block;
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
    color: var(--main-text-color);
    line-height: 1.88;
}
.portfolio-projects {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.portfolio-item {
    display: block;
    cursor: pointer;
    border-bottom: 1px solid #EEEEEE;
    flex-basis: calc((100% - 60px)/3);
    border: 0;
}
.portfolio-block {
    display: block;
    transition: box-shadow var(--speed) var(--duration);
}
.portfolio-block:hover,
.portfolio-block:focus {
    box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16),
    0px 4px 4px 0 rgba(0, 0, 0, 0.06);
}
.portfolio-thumb {
    position: relative;
    overflow: hidden;
}
.portfolio-overlay {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
    height: 100%;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--footer-address-color);
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform var(--speed) var(--duration);
}
.portfolio-item .link:hover .portfolio-overlay,
.portfolio-item .link:focus .portfolio-overlay {
    transform: translateY(0);
}


